<div class="footer">
	<section class="module-small" id="contact">

	<div class="container">

		<div class="row">

			<!-- CONTENT BOX -->
			<!-- <div class="col-sm-3">
				<div class="content-box">
					<div class="content-box-icon">
						<span class="icon-map"></span>
					</div>
					<div class="content-box-title font-inc">
						WorldWide
					</div>
				</div>
			</div> -->
			<!-- /CONTENT BOX -->





			<!-- /CONTENT BOX -->





	<!-- <div class="container"> -->





<!-- CONTENT BOX -->
<div class="col-md-1 col-sm-12">
	<div class="content-box">
		<div class="content-box-icon">
			<a href="https://www.facebook.com/Circle-Blossom-1859088501039562/"><span class="icon-facebook"></span>

		<div class="content-box-title font-inc">
		Facebook
		</div>
	</div>
	</div>
</div>

<div class="col-md-1 col-sm-12">
	<div class="content-box">
		<div class="content-box-icon">
			<a href="https://www.instagram.com/circleblossom/"><span class="icon-picture"></span>
				<div class="content-box-title font-inc">
					Instagram
				</div>
		</div>
	</div>
</div>

<div class="col-md-8 col-sm-12 text-center logo">
	<a href="/index.html"><img src="{{ '/circleblossom-test/assets/images/logo.png' | asset_path }}"/></a>
	<p class="copyright font-inc m-b-0">© 2017 <a href="/circleblossom-test/index.html">Circle Blossom</a>, All Rights Reserved.</p>
	<p class="copyright2 font-inc m-b-0">Crafted with love by <a href="http://angelodidonato.com">Angelo Di Donato</a>.</p>
	</div>

<div class="col-md-2 col-sm-12 text-center">
	<div class="content-box">
		<div class="content-box-icon">
			<a href="mailto:contactcircleblossom@gmail.com">
			<span class="icon-envelope"></span>

		<div class="content-box-title font-inc">
			contactcircleblossom
		</div>
	</div>
</div>
</div>



		</div>

	</div>
	</section>
</div>
