<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Angelo Di Donato">

	<title>Circle Blossom | {{ page.title }}</title>

        <!-- Favicons
    ================================================== -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-57x57.png %}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-60x60.jpg %}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-72x72.png %}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-76x75.png %}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-114x114.png %}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-120x120.jpg %}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-144x144.png %}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-152x152.png %}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}{% link /assets/images2/favico/apple-icon-180x180.jpg %}">
<link rel="icon" type="image.jpg" sizes="192x192"  href="{{ site.baseurl }}{% link /assets/images2/favico/android-icon-192x192.png %}">
<link rel="icon" type="image.jpg" sizes="32x32" href="{{ site.baseurl }}{% link /assets/images2/favico/favicon-32x32.png %}">
<link rel="icon" type="image.jpg" sizes="96x96" href="{{ site.baseurl }}{% link /assets/images2/favico/favicon-96x95.png %}">
<link rel="icon" type="image.jpg" sizes="16x16" href="{{ site.baseurl }}{% link /assets/images2/favico/favicon-16x15.png %}">
<link rel="manifest" href="{{ site.baseurl }}{% link /manifest.json %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}{% link /assets/images2/favico/ms-icon-144x144.png %}">
<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap core CSS -->
	<link href="{{ site.baseurl }}{% link /assets/bootstrap/css/bootstrap.min.css %}" rel="stylesheet">

	<!-- Plugins -->
	<link href="{{ site.baseurl }}{% link assets/css/simpletextrotator.css %}" rel="stylesheet">
	<link href="{{ site.baseurl }}{% link assets/css/font-awesome.min.css %}" rel="stylesheet">
	<link href="{{ site.baseurl }}{% link assets/css/et-line-font.css %}" rel="stylesheet">
	<link href="{{ site.baseurl }}{% link assets/css/magnific-popup.css %}" rel="stylesheet">
	<link href="{{ site.baseurl }}{% link assets/css/flexslider.css' | ass" rel="stylesheet">
	<link href="{{ site.baseurl }}{% link assets/css/animate.css %}" rel="stylesheet">

	<!-- Template core CSS -->
	<link href="{{ site.baseurl }}{% link /assets/css/main.css %}" rel="stylesheet">

	<!-- Custom css -->
	<link href="{{ site.baseurl }}{% link /assets/css/custom.css %}" rel="stylesheet">
	{% include analytics.html %}

</head>
