<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">
			<div class="container">
					<div class="navbar-header">

							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/index.html"></a>
					</div>

					<div class="collapse navbar-collapse" id="custom-collapse">

							<ul class="nav navbar-nav navbar-right">

									<li class="dropdown">
									<a href="/index.html">Home</a>
									</li>
									<li class="dropdown">

											<a class="dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown" href="/womancycle/">The Woman Cycle
										</a>
											<ul class="dropdown-menu">
													<li class="mobile visible-xs visible-sm"><a href="/womancycle/"><b>The Woman Cycle</b></a></li>
													<li><a href="/menstrualcycleblessing">Menstrual Cycle Blessing</a></li>
													<li><a href="/the-four-phases">The Woman Cycle Four Phases</a></li>
													<li><a href="/discover-your-abilities">Discovering your abilities</a></li>
													<li><a href="/organise-your-month">How to organise your month</a></li>

											</ul>
									</li>

									<li class="dropdown">
											<a href="/yoni" class="dropdown-toggle" data-toggle="dropdown">Yoni Eggs</a>
											<ul class="dropdown-menu">
													<li class="mobile visible-xs visible-sm"><a href="/yoni"><b>Yoni Eggs</b></a></li>
													<li><a href="/yoni-eggs-blessing">Blessing Yoni Eggs</a></li>
													<li><a href="/choose-my-first-yoni-egg">Cherry-pick my First Yoni Egg</a></li>
													<li><a href="/cleaning-my-eggs">Caring about my Yoni Egg</a></li>
													<!-- <li><a href="/yoni#first">My first time</a></li> -->

											</ul>
									</li>

									<!-- <li class="dropdown">
											<a href="/notes/" class="dropdown-toggle" data-toggle="dropdown">Blossom Secrets</a>
												{% for post in site.posts %}
											<ul class="dropdown-menu">
												<li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
												 <li><a href="#">Notes</a></li>

											</ul>
												{% endfor %}
									</li> -->

										<li><a href="/agenda">Agenda</a></li>

									<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
											<ul class="dropdown-menu">

													<li><a href="#">Coming Soon</a></li>

											</ul>


											<li><a href="#contact">Contact</a></li>

					</div>

			</div>
	</nav>
	<!-- <hr class="divider-w"></hr> -->
