<!-- javascript at the end of the doc so page loads faster -->
{% include base.html %}
<script src="{{ '/circleblossom-test/assets/js/jquery-2.1.3.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/bootstrap/js/bootstrap.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jquery.mb.YTPlayer.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/appear.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jquery.simple-text-rotator.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jqBootstrapValidation.js' | asset_path }}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{ '/circleblossom-test/assets/js/gmaps.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/isotope.pkgd.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/imagesloaded.pkgd.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jquery.flexslider-min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jquery.magnific-popup.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/jquery.fitvids.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/smoothscroll.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/wow.min.js' | asset_path }}"></script>
<script src="{{ '/circleblossom-test/assets/js/custom.js' | asset_path }}"></script>
