<!-- javascript at the end of the doc so page loads faster -->
{% include base.html %}
<script src="{{ site.baseurl }}{% link /assets/js/jquery-2.1.3.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/bootstrap/js/bootstrap.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jquery.mb.YTPlayer.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/appear.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jquery.simple-text-rotator.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jqBootstrapValidation.js %}"></script>
<!-- <script src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
<script src="{{ site.baseurl }}{% link /assets/js/gmaps.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/isotope.pkgd.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/imagesloaded.pkgd.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jquery.flexslider-min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jquery.magnific-popup.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/jquery.fitvids.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/smoothscroll.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/wow.min.js %}"></script>
<script src="{{ site.baseurl }}{% link /assets/js/custom.js %}"></script>
