---
title: Notes
layout: default
notes: active
home: passive
description: Notes from Circle Blossom
---

<section id="home" class="module-hero module-parallax module-fade module-full-height">

	<!-- <div class="hero-slider"> -->
		<!-- <ul class="slides"> -->

			<!-- SLIDE -->
			<!-- <li class="bg-dark"> -->

				<div class="slidebg slide-zoom bg-dark-30" style="background-image:url({{ '/circleblossom-test/assets/images/IMG_2545.jpg' | asset_path }})"></div>

				<div class="hs-caption container">
					<div class="caption-content">
						<div class="hs-title-size-3 font-alt m-b-20">
						Notes
						</div>
						<!-- <div class="hs-title-size-2 font-alt m-b-20"> -->
						<!-- Scroll down for more posts...</div> -->
						<div class="hs-title-size-1 font-inc">
					{% include post-list.html %}
						</div>
					</div>
				</div>

			<!-- </li> -->
		<!-- </ul> -->
		</section>

	<!-- <hr class="divider-w">
	<div class="container">
		<div class="row">
	<div class="notes">

     			{% include post-list.html %}

	<!-- </div>
</div>
</div> -->
